body {
    background-color: #222;
    font-family: "Bookman Old Style", "San Serif", "Arial";
	color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    float: left;
    display: inline-block;
	position: fixed;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.boxbutton {
    background-color: transparent;
    background-repeat:no-repeat;
    border: 1px solid white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}


.header {
    float: right;
    margin-top: 35px;
    margin-right: 15px;
	margin-left: 1180px;
	display: inline-block;
}

.font {
	font-family: "Bebas Neue";
}

.active {
	background-color: #222;
}

.mySlides {display:none;}

.slideshow {
	display: flex;
	align-items: center;
	justify-content: center;
}

.heading {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
}